body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
    font-size: 1.2em;
    z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
    color: black;
}

.nav-transparent .navbar-brand {
    font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
    color: #69823b;
}

#navbarspecial {
    background-color: transparent;
}
.about > section.container-fluid,
.about > section.container,
.home > section.container-fluid,
.home > section.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.logo {
    height: 2em;
}

.home {
    padding: 0;
}

.section-1 {
    padding: 0;
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1588137378625-ba3a4169bf5b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1');
    /* background: no-repeat center/cover url('https://images.unsplash.com/photo-1588137378633-dea1336ce1e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1'); */
}

.section-2 {
    background-color:#d0d87f;
    height: 80vh;
}

.home-title {
    font-size: 2em;
}

.manifesto-text {

    font: italic 2.7em 'Nunito';
    font-weight: 550;
}

.btn-primary {
    margin: 20px;
    background-color: #dbe1e1;
    border-color: #dbe1e1;
    color:black;
    border-radius: 0;
    box-shadow: 2px 2px 0 #69823b;
}

.btn-primary:hover {
    background-color:black;
    border-color: black;
    color: #d0d87f;
}

.about {
    padding: 0;
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1512203847871-1125bd2c903a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1');
}

.about-subcontent {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
    padding: 4%;
}

.line-wipe {
    position: relative;
    text-decoration: none !important;
    display: inline-block;
    color: black;
    font-weight: 600;
}

.line-wipe:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #69823b;
    transition: 0.5s width;
}

.line-wipe:hover:after {
    width: 100%;
    border-bottom-color: #69823b;
    color: #69823b
}

