body {
    margin: 0;
}

.home > section.container-fluid,
.home > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
  margin: 0;
}

.section-1 {
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1588137378633-dea1336ce1e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1');
}

.section-2 {
    /* position: relative; */
    background-color:#d0d87f;
    height: 80vh;
}

.btn-primary {
    background-color: #dbe1e1;
    color: black;
    border-color: #dbe1e1;
}
